@media (max-width: 1439px){
    .container{
        max-width: 1280px;
    }
    .main_cases-item{
        --size: 615px;
    }
    .popup-wrapper{
        max-height: 600px;
        height: 100%;
        top: 50%;
    }
    .popup-wrapper.active{
        transform: translate(-50%, -50%);
    }
    .popup{
        height: 100%;
        overflow: auto;
    }
    .popup::-webkit-scrollbar {
        width: 4px;
        background-color: rgba(26, 24, 47, 0.15);
        border-radius: 0px;
        height: 4px;
    }
    .popup::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 0px;
    }
}
@media (max-width: 1279px){
    .container{
        max-width: 1024px;
        padding: 0 15px;
    }
    .main_contacts-text{
        font-size: 80px;
    }
    .main_contacts-wrapper-arrow,
    .main_contacts--link:hover + .main_contacts .main_contacts-wrapper .main_contacts-wrapper-arrow{
        background-size: 100px 60px;
    }
    .main_contacts{
       padding: 35px 0;
    }
    .main_head_content_info--title{
        font-size: 42px;
    }
    .main_head_content{
        gap: 60px;
        padding: 80px 0px;
    }
    .main_head_wrapper{
        padding: 80px 0px;
    }
    .main_body_info_top{
        gap: 40px;
    }
    .main_body_info_sliders-item-wrapper-text,
    .main_body_info_sliders-item_list--item-content-text{
        max-width: fit-content;
    }
    .main_body_info_sliders{
        padding: 60px 0px !important;
    }
    .main_body_info--title{
        font-size: 20px;
    }
    .main_body_info_sliders-item--btn{
        padding: 25px 0px 25px 15px;
    }
    .main_body_navigation--btn,
    .main_body_info_sliders-item--btn-text{
        font-size: 30px;
    }
    .main_contacts-text{
        font-size: 60px;
    }
    .main_body_info_sliders-item-wrapper-content{
        gap: 25px;
    }
    .main_body_info_sliders-item-wrapper-text{
        font-size: 14px;
    }
    .main_body_info_sliders-item_list--item--btn-text{
        font-size: 18px;
    }
    .main_body_info_sliders-item_list--item--btn-right-text{
        gap: 13px;
        font-size: 15px;
    }
    .main_body_info_sliders-item_list--item-content-text{
        font-size: 13px;
    }
    .main_body_info_sliders-item--btn-text-hiden{
        font-size: 16px;

    }
    .main_contacts-wrapper-arrow,
    .main_contacts--link:hover + .main_contacts .main_contacts-wrapper .main_contacts-wrapper-arrow{
        background-size: 80px 40px;
    }
    .main_body_info_sliders-item--btn-right{
        gap: 20px;
    }
    .main_body_info_sliders-item--btn-right svg{
        width: 32px !important;
        height: 32px !important;
    }
    .footer__body{
        padding: 55px 0px;
    }
    .popup{
        padding: 110px 60px 70px 60px;
    }
    .popup-main-form_inputs{
        gap: 46px;
    }
    .popup-main_left-text{
        font-size: 16px;
    }
    .popup-main_left-post{
        font-size: 50px;
    }
    .main_cases-item{
        --size: 492px;
    }
    .main_cases{
        padding-bottom: 60px;
    }
    .popup{
        padding: 80px 40px;
    }
    .case_article_main{
        flex-direction: column;
        gap: 40px;
    }
    .case_article_main_right{
        padding-top: 30px;
        padding-left: 0px;
        border-left: none;
        border-top: 1px solid #848484;
    }
    .case_article_main_right::before{
        width: 33.3%;
        height: 10px;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
    }
    .cases--title{
        font-size: 48px;
        margin-bottom: 26px;
    }
}
@media (max-width: 1023px){
    .container{
        max-width: 768px;
    }
    .menu__body{
        margin-left: 30px;
        margin-right: 0;
    }
    .header{
        position: sticky;
        top: 0;
        z-index: 100;
        background: rgb(22 22 22);
    }
    .menu__body-wrapper .menu_list-wrapper{
        position: fixed;
        right: 0px;
        width: 100%;
        height: 100%;
        top: 115px;
        padding: 32px 20px;
        transform-origin: right;
        background: rgba(255, 255, 255, 0.03);
        backdrop-filter: blur(8px);
        opacity: 0;
        transform: translateX(100%);
        transition-duration: 0.3s;
    }
    .menu__list{
        flex-direction: column;
        padding: 30px 15px;
        gap: 30px;
    }
    .hamburger-wrapper{
        display: block;
    }
    .menu__block  {
        flex-direction: row-reverse;
    }
    .main_body_info_top{
        padding: 30px 0px 0px 15px;
    }
    .main_body_info_top{
        padding-top: 30px;
    }
    .main_head_content_info--title{
        font-size: 40px;
    }
    .main_body_info_sliders-item--btn-right svg{
        width: 32px !important;
        height: 32px !important;
    }
    .main_body_wrapper{
        flex-direction: column;
       
    }
    .main_body_navigation{
        padding-bottom: 45px;
        border-bottom: 1px solid #383838;
    }
    .main_body_wrapper-item{
        width: 100%;
    }
    .main_body_navigation_list{
        flex-direction: row;
        justify-content: space-around;
    }
    .main_body_wrapper::before{
        display: none;
    }
    .main_contacts-text{
        font-size: 48px;
    }
    .main_contacts-wrapper-arrow,
    .main_contacts--link:hover + .main_contacts .main_contacts-wrapper .main_contacts-wrapper-arrow{
        background-size: 60px 30px;
    }
    .popup-content{
        flex-direction: column;
    }
    .popup-wrapper{
        z-index: 101;
    }
    .popup--close{
        right: 43px;
    }
    .popup-main-form_inputs{
        gap: 18px;
        margin-bottom: 42px;
    }
    .popup-main-form-send{
        margin-bottom: 32px;
    }
    .header__body{
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .header__bottom{
        display: none;
    }
    .header{
        border-bottom: 1px solid #383838;
        box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.4);
    }
    .main_head_content{
        gap: 40px;
        padding: 60px 0px;
    }
    .main_head_wrapper{
        padding: 60px 0px;
    }
    .main_head_content_info{
        gap: 40px;
    }
    .main_head_content_info--title{
        font-size: 34px;
    }
    .main_body_wrapper{
        padding-top: 40px;
    }
    .main_body_navigation{
        padding-bottom: 40px;
    }
    .main_body_info_team{
        gap: 40px;
        justify-content: center;
    }
    .main_body_info--title {
        text-align: center;
    }
    .main_body_info_top{
        align-items: center;
    }
    .main_cases-item {
        --size: 364px;
    }
    .main_cases{
        padding-bottom: 40px;
    }
    .cases{
        padding: 0px 0px 40px;
    }
    .case_content{
        flex-direction: column;
    }
    .case_scrins{
        max-width: 100%;
    }
    .case_article_main_right{
        max-width: 100%;
    }
    .case-poster{
        height: 300px;
    }
}
@media (max-width: 767px){
    .container{
        max-width: 560px;
        padding: 0 10px;
    }
    .header__body{
        padding: 20px 0px;
    }
    .menu__body-wrapper .menu_list-wrapper{
        top: 95px;
    }
    .main_head_wrapper{
        padding: 40px 0px;
    }
    .main_head_content{
        padding: 20px 0px;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .main_head_content_grid-wrapp{
        max-width: 360px;
    }
    .main_head_content_info{
        align-items: center;
        gap: 20px;
    }
    .main_body_info_sliders{
        padding: 40px 0px !important;
    }
    .main_cases-item {
        --size: 265px;
    }
    .main_body_info_sliders-item--price-text{
        max-width: fit-content;
        white-space: nowrap;
    }
    .main_contacts{
        padding: 20px 0px;
    }
    .footer__body{
        padding: 40px 0px;
    }
    .case_article h1{
        margin-bottom: 0px;
    }
}
@media (max-width: 559px){
    .container{
        max-width: 425px;
    }
    .main_head_content_info--title{
        max-width: 360px;
    }
    .menu__body-wrapper .menu_list-wrapper{
        top: 81px;
    }
    .header__logo .logo__link{
        width: 135px;
    }
    .main_head_content_info--link{
        font-size: 20px;
        display: inline-block;
        margin: 0 auto;
        padding: 20px 35px;
    }
    .main_head_content_grid-wrapp{
        padding: 0px 15px;
    }
    .main_head_content_info--title{
        font-size: 24px;
    }
    .main_body_info_sliders-item--btn-right p{
        display: none;
    }
    .main_body_info_sliders-item--btn-right{
        justify-content: end;
    }
    .main_body_info_sliders-item--btn.active .main_body_info_sliders-item--btn-text-hiden{
        display: none;
    }
    .main_body_info_sliders-item--btn-text{
        font-size: 22px;
    }
    .footer__bottom p{
        font-size: 14px;
    }
    .main_body_navigation--btn{
        font-size: 25px;
    }
    .main_body_info--title{
        font-size: 16px;
    }
    .main_body_wrapper{
        padding-top: 30px;
    }
    .main_body_navigation{
        padding-bottom:30px;
    }
    .main_contacts-text {
        font-size: 28px;
    }
    .main_contacts{
        padding: 15px 0;
    }
    .main_contacts-wrapper-arrow,
    .main_contacts--link:hover + .main_contacts .main_contacts-wrapper .main_contacts-wrapper-arrow{
        background-size: 45px 20px;
    }
    .main_contacts-wrapper-arrow{
        max-width: 65px;
    }
    .main_body_info_sliders-item_list--item--btn{
        gap: 20px;
    }
    .main_body_info_sliders-item_list--item--btn-right-text{
        font-size: 13px;
    }
    .footer__bottom {
        text-align: center;
    }
    .main_body_info_sliders-item_list--item--btn{
        align-items: baseline;
    }
    .main_body_info_sliders-item-wrapper{
        padding: 35px 25px 40px 25px;
    }
    .main_body_info_sliders-item_list--item--btn-text{
        font-size: 14px;
    }
    .main_body_info_sliders-item_list--item--btn-right{
        max-width: fit-content;
    }
    .main_body_info_sliders-item_list--item--btn p{
        max-width: fit-content;
        white-space: nowrap;
    }
    .popup {
        padding: 59px 18px 24px 18px;
    }
    .popup--close{
        right: 25px;
        top: 25px;
    }
    .popup--close svg{
        width: 20px;
        height: 20px;
    }
    .popup-main_left-text,
    .input-file span,
    .input-send{
        font-size: 13px;
    }
    .popup-main_left-title{
        font-size: 20px;
    }
    .popup-main-form-send {
        margin: 0px auto 28px;
    }
    .popup-main-form-send{
        font-size: 20px;
        padding: 11px 46px;
    }
    .popup-main_left-post {
        font-size: 32px;
    }
    .popup-main_left-text{
        max-width: 300px;
    }
    .main_cases_list{
        grid-template-columns: 1fr;
    }
    .footer__body{
        padding-bottom: 20px;
    }
    .footer__bottom{
        padding-bottom: 40px;
    }
    .main_cases-item{
        --size: 405px;
    }
    .main_body_info_sliders-item_list--item--btn-right{
        gap: 8px;
    }
    .main_body_info_top{
        padding-left: 0px;
        gap: 20px;
    }
    .main_body_info_sliders-item-wrapper{
        padding: 20px 10px;
    }
    .main_body_info_sliders-item--btn {
        padding: 20px 0px 20px 10px;
    }
    .main_body_info_team{
        gap: 20px;
    }
    .main_body{
        padding-bottom: 0px;
    }
    .cases{
        padding: 0px 0px 20px;
    }
    .cases--title{
        font-size: 36px;
        margin-bottom: 20px;
    }
    .case-poster{
        height: 200px;
        margin-bottom: 20px;
    }
    .case_article_main_left-group{
        padding-top: 0px !important;
    }
}
@media (max-width: 424px){
    .container{
        max-width: 375px;
    }
    .main_body_navigation--btn{
        font-size: 22px;
    }
    .main_cases-item {
        --size: 355px;
    }
    .main_cases{
        padding-bottom: 20px;
    }
    .main_cases_list-after-link .main_contacts-wrapper-arrow{
        height: 20px;
    }
    .main_contacts{
        padding: 0px;
    }
    .footer__bottom{
        padding-bottom: 20px;
    }
    .case_scrins{
        padding: 20px;
    }
}
@media (max-width: 374px){
    .main_body_navigation--btn{
        font-size: 19px;
    }
    .main_body_info_sliders-item-wrapper{
       padding: 35px 18px;
    }
    .main_body_info_sliders-item_list--item--btn-right-text span{
        max-width: 45px;
    }
    .main_body_info_sliders-item_list--item--btn{
        gap: 4px;
    }
    .main_body_info_sliders-item-wrapper{
        padding: 20px 0px;
    }
    .main_body_info_team--case{
        max-width: 140px;
    }
    .main_body_info_team--case-image{
        height: 140px;
    }
}