@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*------ GLOBAL -------*/
.container {
    max-width: 1458px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    z-index: 1;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
}

/*--scrollbar--*/
body::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(26, 24, 47, 0.15);
    border-radius: 0px;
    height: 8px;
}

body::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 0px;
}
/*--scrollbar--*/

* {
    font-family: 'Inter';
    font-style: normal;
    color: #FFFFFF;
}

a, button {
    background: none;
    border: none;
    cursor: pointer;
    user-select: none;
    transition-duration: 0.3s !important;
}

body {
    background: #161616;
}

html {
    scroll-behavior: smooth; /*Плавный скролл по якорям*/
}

/*------ GLOBAL -------*/


/*header*/
.header__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 52px;
}
.menu__block{
    display: flex;
    align-items: center;
}
.header__logo{
    transition-duration: 0.3s;
}
.logo__link{
    max-width: 180px;
    width: 100%;
}
.header__logo:hover,
.header__logo:focus{
    opacity: 0.8;
}
.header__left{
    display: flex;
    align-items: center;
    gap: 40px;
}
.header_langs{
    display: flex;
    align-items: center;
    gap: 14px;
}
.lang--btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    opacity: 0.6;
}
.lang--btn.active{
    opacity: 1;
}
.menu__list{
    display: flex;
    align-items: center;
    gap: 51px;
}
/* .menu__body.open .menu__list{
    position: absolute;
    display: flex !important;
    flex-direction: column;
    right: 0px !important;
    width: 290px;
    padding: 30px 15px;
    top: 150px;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(8px);
    gap: 30px;
} */
.menu__body-wrapper.open .menu_list-wrapper{
    transform: translateX(0);
    opacity: 1;
  }
.hamburger-wrapper{
    display: none;
}
.hamburger{
    display: inline-flex;
    width: 28px;
    height: 23px;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hamburger span{
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 5s linear;
  }  
  .hamburger span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: all 0.2s linear;
  }
  .hamburger span:nth-child(1) {
    top: 0;
  }
  .hamburger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.1s linear;
  }
  .hamburger span:nth-child(3) {
    bottom: 0;
  }
  .menu__body-wrapper.open .hamburger-wrapper .hamburger span:nth-child(1) {
    top: 46%;
    transform: rotate(45deg);
  }
  .menu__body-wrapper.open .hamburger-wrapper .hamburger span:nth-child(2) {
    display: none;
  }
  .menu__body-wrapper.open .hamburger-wrapper .hamburger span:nth-child(3) {
    bottom: 46%;
    transform: rotate(-45deg);
  }
.menu__social{
    display: flex;
    align-items: center;
    gap: 17px;
}
.menu__body{
    display: flex;
    margin-right: 125px;
}
.header__bottom{
    display: block;
    width: 100%;
    height: 19px;
    border-top: 1px solid #383838;
    border-bottom: 1px solid #000000;
    margin-top: 22px;
}

.social__link{
    max-width: 31px;
    width: 100%;
    transition-timing-function: cubic-bezier(0.68,-0.55,0.265,1.55);
}
.social__link svg path{
    transition-duration: 0.3s;
}
.social__link:hover svg path,
.social__link:focus svg path{
  fill: #FFFFFF;
}
.social__link:hover,
.social__link:focus{
    transform: scale(1.1);
}
.menu__link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    position: relative;
}
.menu__link.menu-active{
    padding: 9px 26px;
    border-radius: 120px;
    border: 1px solid #FFFFFF;
}
.menu__link::before{
    content: '';
    position: absolute;
    width: calc(100% + 52px);
    height: calc(100% + 18px);
    left: 50%;
    top: 50%;
    border-radius: 120px;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1;
    background-color: white;
    transition-duration: 0.3s;
    opacity: 0;
}
.menu__link.menu-active::before{
    width: calc(100% + 2px);
    height: calc(100% + 2px);
}
.menu__link:hover,
.menu__link:focus{
    color: #161616;
}
.menu__link:hover::before,
.menu__link:focus::before{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
/*header*/

/*footer*/
.footer__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 72px 0px 60px 0px;
}

.footer__bottom{
    padding-bottom: 30px;
}
.footer__bottom p{
    line-height: 130%;
    text-transform: uppercase;
    color: rgba(188, 187, 189, 0.5);

}
/*footer*/

#particles-js{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/*main*/
.main_head_wrapper{
    width: 100%;
    position: relative;
    padding: 155px 0px;
    overflow: hidden;
}
.main_head{
    width: 100%;
    border: 1px solid #383838;
    border-left: none;
    border-right: none;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(8px);
}
.main_head_content{
    width: 100%;
    padding: 120px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 99px;
}
.main_head_content_grid-wrapp{
    max-width: 541px;
    width: 100%;
}
.main_head_content_info{
    max-width: 598px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 64px;
}
.main_head_content_info--title{
    font-weight: 600;
    font-size: 48px;
    line-height: 115%;
    color: #FFFFFF;    
}
.main_head_content_info--link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #161616;   
    background: #FFFFFF;
    border-radius: 120px;
    padding: 20px 47px; 
    border: 1px solid white;
}
.main_head_content_info--link:hover,
.main_head_content_info--link:focus{
    background-color: transparent;
    color: white;
}
.main_head_bubles{
    overflow: hidden;
}
.buble{
    position: absolute;
    z-index: -1;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 30s;
    user-select: none;
}
.buble-1{
    top: 22px;
    left: 195px;
    animation-name: buble1;
}
@keyframes buble1{
    0%{
        transform: translate(-0%, 0%) scale(1) rotateZ(0deg);
    }
    30%{
        transform: translate(40%, -20%) scale(1.2) rotateZ(-120deg);
    }
    60%{
        transform: translate(20%, -10%) scale(0.9) rotateZ(-180deg);
    }
    100%{
        transform: translate(10%, -20%) scale(1.3) rotateZ(-60deg);
    }
}
.buble-2{
    top: 388px;
    right: -348px;
    animation-name: buble2;
}
@keyframes buble2{
    0%{
        transform: translate(0%, 0%) scale(1) rotateZ(0deg);
    }
    30%{
        transform: translate(-10%, 10%) scale(1.1) rotateZ(90deg);
    }
    60%{
        transform: translate(10%, 30%) scale(0.8) rotateZ(-20deg);
    }
    100%{
        transform: translate(-20%, -60%) scale(1.4) rotateZ(30deg);
    }
}
.buble-3{
    bottom: 162px;
    left: 362px;
    animation-name: buble3;
}
@keyframes buble3{
    0%{
        transform: translate(0%, 0%) scale(1) rotateZ(0deg);
    }
    30%{
        transform: translate(20%, 20%) scale(1.1) rotateZ(90deg);
    }
    60%{
        transform: translate(-20%, -20%) scale(1.2) rotateZ(180deg);
    }
    100%{
        transform: translate(-10%, 10%) scale(0.8) rotateZ(360deg);
    }
}
.buble-4{
    top: 33px;
    left: 108px;
    animation-name: buble4;
}
@keyframes buble4{
    0%{
        transform: translate(0%, 0%) scale(1) rotateZ(0deg);
    }
    30%{
        transform: translate(20%, 20%) scale(1.1) rotateZ(90deg);
    }
    60%{
        transform: translate(-20%, -20%) scale(1.2) rotateZ(180deg);
    }
    100%{
        transform: translate(-10%, 10%) scale(0.8) rotateZ(360deg);
    }
}
.buble-5{
    top: 284px;
    right: 120px;
    animation-name: buble5;
}
@keyframes buble5{
    0%{
        transform: translate(0%, 0%) scale(1) rotateZ(0deg);
    }
    30%{
        transform: translate(-40%, 20%) scale(0.6) rotateZ(20deg);
    }
    60%{
        transform: translate(-20%, 10%) scale(0.9) rotateZ(-60deg);
    }
    100%{
        transform: translate(30%, 0%) scale(1.2) rotateZ(-360deg);
    }
}
.buble-6{
    top: 300px;
    left: -300px;
    animation-name: buble6;
}
@keyframes buble6{
    0%{
        transform: translate(0%, 0%) scale(1) rotateZ(0deg);
    }
    30%{
        transform: translate(-10%, 30%) scale(0.8) rotateZ(60deg);
    }
    60%{
        transform: translate(-10%, 40%) scale(1.2) rotateZ(20deg);
    }
    100%{
        transform: translate(20%, 5%) scale(1.1) rotateZ(-60deg);
    }
}
.buble-7{
    bottom: 0px;
    right: 167px;
    animation-name: buble7;
}
@keyframes buble7{
    0%{
        transform: translate(0%, 0%) scale(1) rotateZ(0deg);
    }
    30%{
        transform: translate(10%, 12%) scale(1.1) rotateZ(120deg);
    }
    60%{
        transform: translate(-40%, -40%) scale(0.8) rotateZ(-60deg);
    }
    100%{
        transform: translate(0%, -5%) scale(1) rotateZ(80deg);
    }
}
.main_body{
    width: 100%;
    padding-bottom: 10px;
}
.main_body_wrapper{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-top: 1px solid #383838;
    padding-top: 45px;
}
.main_body_wrapper::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50);
    top: -156px;
    width: 1px;
    height: calc(100% + 156px);
    background-color: #383838;
}
.main_body_wrapper-item{
    width: 50%;
}
.main_body_info_top{
    padding-left: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 75px;
}
.main_body_navigation_list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.main_body_navigation--btn{
    font-weight: 500;
    font-size: 38px;
    line-height: 115%;
    color: #3F3F3F;    
}
.main_body_navigation--btn.active,
.main_body_navigation--btn:hover,
.main_body_navigation--btn:focus{
    color: #FFFFFF;
}
.main_body_info--title{
    font-weight: 400;
    font-size: 28px;
    line-height: 115%;
    color: #FFFFFF;
    max-width: 647px;
}
.main_body_info_team{
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.main_body_info_team--case{
    max-width: 160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.main_body_info_team--case-image{
    max-width: 100%;
    height: 160px;
    object-fit: cover;
}
.main_body_info_team--case-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    margin: 24px 0px 5px 0px;
}
.main_body_info_team--case-status{
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: rgba(188, 187, 189, 0.5);    
}
.main_body_info_sliders{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 140px 0px !important;
}
.main_body_info_sliders-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.main_body_info_sliders-item--btn{
    width: 100%;
    padding: 35px 0px 35px 30px;
    border-top: 1px solid #383838;
    border-bottom: 1px solid #383838;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.main_body_info_sliders-item--btn-text{
    font-weight: 500;
    font-size: 48px;
    line-height: 115%;
    color: #FFFFFF;    
    max-width: 361px;
    width: 100%;
    text-align: left;
}
.main_body_info_sliders-item--btn-right{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.main_body_info_sliders-item--btn-right svg{
    transition-duration: 0.3s;
    max-width: 37px;
    width: 100%;
}
.main_body_info_sliders-item--btn-text-hiden{
    max-width: 220px;
    width: 100%;
    display: flex;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #69696A;
    opacity: 0;
    transition-duration: 0.3s;
    gap: 18px;
    text-align: left;
}
.main_body_info_sliders-item--btn-text-hiden span{
    text-align: left;
    max-width: 76px;
    width: 100%;
    color: #69696A;
}
.main_body_info_sliders-item--btn:hover .main_body_info_sliders-item--btn-text-hiden{
    opacity: 1;
}
.main_body_info_sliders-item--btn.active .main_body_info_sliders-item--btn-text-hiden{
    opacity: 1;
}
.main_body_info_sliders-item--btn.active .main_body_info_sliders-item--btn-right svg{
    transform: rotateZ(45deg);
}
.main_body_info_sliders-item-wrapper{
    width: 100%;
    padding: 35px 37px 50px 37px;
    display: none;
}
.main_body_info_sliders-item-wrapper-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-end;
}
.main_body_info_sliders-item-wrapper-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    max-width: 420px;
}
.main_body_info_sliders-item_list{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.main_body_info_sliders-item_list--item{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main_body_info_sliders-item_list--item--btn{
    width: 100%;
    padding: 16px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-top: 1px solid #383838;
    border-bottom: 1px solid #383838;
}
.main_body_info_sliders-item_list--item--btn-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
    max-width: 361px;
    width: 100%;
    text-align: left;  
}
.main_body_info_sliders-item_list--item--btn-right{
    max-width: 293px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}
.main_body_info_sliders-item_list--item--btn-right-text{
    text-align: left;
    max-width: 220px;
    width: 100%;
    display: flex;
    gap: 18px;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: rgba(188, 187, 189, 0.5);
}
.main_body_info_sliders-item_list--item--btn-right-text span{
    text-align: left;
    max-width: 76px;
    width: 100%;
    color: rgba(188, 187, 189, 0.5);
}
.main_body_info_sliders-item_list--item--btn-right svg{
    transition-duration: 0.3s;
}
.main_body_info_sliders-item_list--item--btn.active .main_body_info_sliders-item_list--item--btn-right svg{
    transform: rotateZ(45deg);
}
.main_body_info_sliders-item_list--item-wrapper{
    width: 100%;
    padding: 16px 0px;
    display: none;
}
.main_body_info_sliders-item_list--item-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.main_body_info_sliders-item_list--item-content-text{
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: rgba(188, 187, 189, 0.5);
    max-width: 420px;
    width: 100%;
}
.main_body_info_sliders-item--price-text{
    opacity: 1;
    color: white;
    max-width: 293px;
    width: 100%;
}
.main_body_info_sliders-item--price-text span{
    color: white;
}
.main_cases{
    width: 100%;
    padding-bottom: 100px;
}
.main_cases_list{
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
.main_cases-item{
    position: relative;
    --size: 704px;
    max-width: var(--size);
    width: 100%;
    height: var(--size);
    border-radius: 22px;
    overflow: hidden;
}
.main_cases-item img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition-duration: 0.3s;
    opacity: 0.46;
}
.main_cases-item a{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.main_cases-item a:hover + img{
    transform: scale(1.2);
    opacity: 1;
}
.main_contacts{
    background: rgba(255, 255, 255, 0.08);
    padding: 53px 0px;
    transition-duration: 0.3s;
}
.main_contacts-text{
    font-weight: 500;
    font-size: 92px;
    line-height: 115%;
    text-transform: uppercase;
    color: #FFFFFF;
    transition-duration: 0.3s;
}
.main_contacts-wrap{
    width: 100%;
    position: relative;
}
.main_contacts-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.main_contacts--link{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.main_contacts--link:hover + .main_contacts{
    background-color: white;
}
.main_contacts-wrapper svg path{
    transition-duration: 0.3s;
}
.main_contacts--link:hover + .main_contacts .main_contacts-text{
    color: #161616;
}
.main_contacts-wrapper-arrow{
    max-width: 117px;
    width: 100%;
    height: 70px;
    background: url('../img/arr-w.png');
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 0.3s;
}
.main_contacts--link:hover + .main_contacts .main_contacts-wrapper .main_contacts-wrapper-arrow{
    background: url('../img/arr-b.png');
    background-repeat: no-repeat;
    background-position: center;
}
/*main*/

/*popup*/
.popup-back{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #161616;
    opacity: 0.5;
    display: none;
}
.popup-wrapper{
    position: fixed;
    left: 50%;
    top: 80px;
    transform: translate(-50%, 100%);
    max-width: 1640px;
    width: 100%;
    z-index: 11;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
.popup-wrapper.active{
    transition-duration: 0.3s;
    transform: translate(-50%, 0%);
    opacity: 1;
    pointer-events: all;
}
.popup{
    width: 100%;
    background: #161616;
    border: 1px solid white;
    position: relative;
    padding: 120px 90px 70px 90px;
}
.popup-main{
    width: 100%;
}
.popup-thanks{
    width: 100%;
    display: none;
}
.popup-thanks-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.popup-thanks-content-title{
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 125%;
    color: #FFFFFF;
}
.popup-thanks-content-text{
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 110%;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.popup-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
}
.popup-main_left{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.popup-main_left-title{
    font-weight: 600;
    font-size: 22px;
    line-height: 125%;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.popup-main_left-text{
    font-weight: 400;
    font-size: 22px;
    line-height: 125%;
    color: #FFFFFF;    
    max-width: 443px;
    margin-bottom: 62px;
}
.popup-main_left-text a:hover{
    opacity: 0.6;
}
.popup-main_left-text-post{
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 8px;
}
.popup-main_left-post{
    font-weight: 400;
    font-size: 45px;
    line-height: 125%;
    color: #FFFFFF;
    word-break: break-all;
}
.popup-main_left-post:hover{
    opacity: 0.6;
}
.popup-main-form{
    max-width: 713px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.popup-main-form_inputs{
    max-width: 680px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
    margin-bottom: 60px;
}
.popup-main-form-send{
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #161616;
    background: #FFFFFF;
    border-radius: 120px;
    padding: 15px 47px;
    border: 1px solid white;
    margin-bottom: 44px;
}
.popup-main-form-send:hover{
    background-color: transparent;
    color: white;
}
.popup-main-form-send-desc{
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    color: #3A3A40;
    max-width: 483px;
}
.popup-main-form-send-desc a{
    color: white;
}
.popup-main-form-send-desc a:hover{
    opacity: 0.6;
}
.input-text{
    padding: 0px 0px 10px 10px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #848484;
    font-weight: 400;
    font-size: 22px;
    line-height: 125%;
    color: #ffffffb0;
    background-color: transparent;
}
.input-text:valid, .input-text:focus{
    color: white;
}
.input-textarea{
    resize: none;
    /* height: 40px; */
}
.input-textarea::-webkit-scrollbar {
    width: 4px;
    background-color: rgba(26, 24, 47, 0.15);
    border-radius: 0px;
    height: 4px;
}
.input-textarea::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 0px;
}
.popup--close{
    position: absolute;
    top: 43px;
    right: 90px;
    width: 20px;
    height: 20px;
}
.input-file {
    width: 100%;
	position: relative;
	display: inline-block;
}
.input-file span {
    word-break: break-all;
    width: 100%;
	position: relative;
	display: flex;
    justify-content: space-between;
    align-items: center;
	cursor: pointer;
	outline: none;
	text-decoration: none;
    padding: 0px 0px 10px 10px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #848484;
    font-weight: 400;
    font-size: 22px;
    line-height: 125%;
    color: #FFFFFF;
    background-color: transparent;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
/*popup*/

/*cases*/
.back-line{
    padding: 40px 0px 20px;
}
.link--back svg{
    min-width: 20px;
    max-width: 20px;
}
.link--back{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #8F8F8F;
    font-size: 16px;
    line-height: 125%;
}
.link--back:hover{
    opacity: 0.6;
}
.cases{
    padding: 0px 0px 80px;
}
.cases--title{
    color: #FFF;
    font-size: 62px;
    line-height: 125%;
    margin-bottom: 32px;
}
.main_cases_list-after-link{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 12px;
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    line-height: 115%;
    margin-top: 20px;
}
.main_cases_list-after-link:hover{
    opacity: 0.6;
}
.main_cases_list-after-link
.main_contacts-wrapper-arrow{
    min-width: 30px;
    max-width: 30px;
    width: 100%;
    background-size: contain;
}
.pagination {
    padding: 20px 0px !important;
    display: flex;
    padding-left: 0;
    list-style: none;
    user-select: none;
}
.page-item{
    display: flex;
    cursor: pointer;
}
.page-link {
    position: relative;
    display: block;
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid white;
    transition-duration: 0.3s;
    padding: 0.375rem 0.75rem;
}
.page-item.disabled {
    opacity: 0.5;
}
.page-link:hover {
    z-index: 2;
    color: #161616;
    background-color: white;
    border-color: white;
    opacity: 0.8;
}
.page-item.active .page-link {
    z-index: 3;
    color: #161616;
    background-color: white;
    border-color: white;
}
.page-item:first-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}
/*cases*/

/*case*/
.case{
    overflow: hidden;
}
.case-poster{
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
}
.case-poster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.case_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.case_article{
    max-width: 830px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    align-self: start;
}
.case_article_main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.case_article_main_left{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.case_article_main_left-group{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}
.case_article_main_left-group-name{
    color: #EFD2B9;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.26px;
    text-transform: uppercase;
}
.case_article_main_left-group-text{
    color: #8F8F8F;
    font-size: 18px;
    line-height: 120%;
}
.case_article_main_left-mm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.case_article--link{
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: fit-content;
}
.case_article--link:hover{
    opacity: 0.6;
}
.case_article--link svg{
    min-width: 20px;
    max-width: 20px;
}
.case_article_main_right{
    max-width: 465px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    position: relative;
    padding-left: 50px;
    border-left: 1px solid #848484;
}
.case_article_main_right::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    background-color: white;
    height: 33.3%;
}
.case_article_main_right-name{
    color: #EFD2B9;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.26px;
    text-transform: uppercase;
}
.case_article_main_right-text{
    font-weight: normal;
    color: #FFF;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.16px;
}
.case_scrins{
    position: relative;
    max-width: 540px;
    width: 100%;
    max-height: 800px;
    background-color: white;
    padding: 44px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.case_scrins-ttl{
    color: #161616;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.26px;
    text-transform: uppercase; 
    margin-bottom: 12px;  
}
.case_scrins::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    height: 8px;
}
.case_scrins::-webkit-scrollbar-thumb {
    background: #161616;
    border-radius: 0px;
}
.case_scrins img{
    max-width: 100%;
    width: 100%;
}
/*case*/