@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*------ GLOBAL -------*/
.container {
    max-width: 1458px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    z-index: 1;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
}

/*--scrollbar--*/
body::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(26, 24, 47, 0.15);
    border-radius: 0px;
    height: 8px;
}

body::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 0px;
}

/*--scrollbar--*/

* {
    font-family: 'Inter';
    font-style: normal;
    color: #FFFFFF;
}

a, button {
    background: none;
    border: none;
    cursor: pointer;
    user-select: none;
    transition-duration: 0.3s !important;
}

body {
    background: #161616;
}

html {
    scroll-behavior: smooth; /*Плавный скролл по якорям*/
}

/*------ GLOBAL -------*/


/*header*/
.header__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 52px;
}
.menu__block{
    display: flex;
    align-items: center;
}
.header__logo{
    transition-duration: 0.3s;
}
.header__logo:hover,
.header__logo:focus{
    opacity: 0.8;
}
.menu__list{
    display: flex;
    align-items: center;
    gap: 51px;
}
.menu__social{
    display: flex;
    align-items: center;
    gap: 17px;
}
.menu__body{
    display: flex;
    margin-right: 125px;
}
.header__bottom{
    display: block;
    width: 100%;
    height: 19px;
    border-top: 1px solid #383838;
    border-bottom: 1px solid #000000;
    margin-top: 22px;
}
.social__link{
    max-width: 31px;
    width: 100%;
    transition-timing-function: cubic-bezier(0.68,-0.55,0.265,1.55);
}
.social__link svg path{
    transition-duration: 0.3s;
}
.social__link:hover svg path,
.social__link:focus svg path{
  fill: #FFFFFF;
}
.social__link:hover,
.social__link:focus{
    transform: scale(1.1);
}
.menu__link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    position: relative;
}
.menu__link.menu-active{
    padding: 9px 26px;
    border-radius: 120px;
    border: 1px solid #FFFFFF;
}
.menu__link::before{
    content: '';
    position: absolute;
    width: calc(100% + 52px);
    height: calc(100% + 18px);
    left: 50%;
    top: 50%;
    border-radius: 120px;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1;
    background-color: white;
    transition-duration: 0.3s;
    opacity: 0;
}
.menu__link.menu-active::before{
    width: calc(100% + 2px);
    height: calc(100% + 2px);
}
.menu__link:hover,
.menu__link:focus{
    color: #161616;
}
.menu__link:hover::before,
.menu__link:focus::before{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
/*header*/

/*footer*/
.footer__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 72px 0px 60px 0px;
}

.footer__bottom{
    padding-bottom: 30px;
}
.footer__bottom p{
    line-height: 130%;
    text-transform: uppercase;
    color: rgba(188, 187, 189, 0.5);

}
/*footer*/

#particles-js{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/*main*/
.main_head_wrapper{
    width: 100%;
    position: relative;
    padding: 155px 0px;
    overflow: hidden;
}
.main_head{
    width: 100%;
    border: 1px solid #383838;
    border-left: none;
    border-right: none;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(8px);
}
.main_head_content{
    width: 100%;
    padding: 120px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 99px;
}
.main_head_content_grid-wrapp{
    max-width: 541px;
    width: 100%;
}
.main_head_content_info{
    max-width: 598px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 64px;
}
.main_head_content_info--title{
    font-weight: 600;
    font-size: 48px;
    line-height: 115%;
    color: #FFFFFF;    
}
.main_head_content_info--link{
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #161616;   
    background: #FFFFFF;
    border-radius: 120px;
    padding: 20px 47px; 
    border: 1px solid white;
}
.main_head_content_info--link:hover,
.main_head_content_info--link:focus{
    background-color: transparent;
    color: white;
}
.main_head_bubles{
    overflow: hidden;
}
.buble{
    position: absolute;
    z-index: -1;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 30s;
}
.buble-1{
    top: 22px;
    left: 195px;
    animation-name: buble1;
}
@keyframes buble1{
    0%{
        transform: translate(-0%, 0%) scale(1) rotateZ(0deg);
    }
    30%{
        transform: translate(40%, -20%) scale(1.2) rotateZ(-120deg);
    }
    60%{
        transform: translate(20%, -10%) scale(0.9) rotateZ(-180deg);
    }
    100%{
        transform: translate(10%, -20%) scale(1.3) rotateZ(-60deg);
    }
}
.buble-2{
    top: 388px;
    right: -348px;
    animation-name: buble2;
}
@keyframes buble2{
    0%{
        transform: translate(0%, 0%) scale(1) rotateZ(0deg);
    }
    30%{
        transform: translate(-10%, 10%) scale(1.1) rotateZ(90deg);
    }
    60%{
        transform: translate(10%, 30%) scale(0.8) rotateZ(-20deg);
    }
    100%{
        transform: translate(-20%, -60%) scale(1.4) rotateZ(30deg);
    }
}
.buble-3{
    bottom: 162px;
    left: 362px;
    animation-name: buble3;
}
@keyframes buble3{
    0%{
        transform: translate(0%, 0%) scale(1) rotateZ(0deg);
    }
    30%{
        transform: translate(20%, 20%) scale(1.1) rotateZ(90deg);
    }
    60%{
        transform: translate(-20%, -20%) scale(1.2) rotateZ(180deg);
    }
    100%{
        transform: translate(-10%, 10%) scale(0.8) rotateZ(360deg);
    }
}
.buble-4{
    top: 33px;
    left: 108px;
    animation-name: buble4;
}
@keyframes buble4{
    0%{
        transform: translate(0%, 0%) scale(1) rotateZ(0deg);
    }
    30%{
        transform: translate(20%, 20%) scale(1.1) rotateZ(90deg);
    }
    60%{
        transform: translate(-20%, -20%) scale(1.2) rotateZ(180deg);
    }
    100%{
        transform: translate(-10%, 10%) scale(0.8) rotateZ(360deg);
    }
}
.buble-5{
    top: 284px;
    right: 120px;
    animation-name: buble5;
}
@keyframes buble5{
    0%{
        transform: translate(0%, 0%) scale(1) rotateZ(0deg);
    }
    30%{
        transform: translate(-40%, 20%) scale(0.6) rotateZ(20deg);
    }
    60%{
        transform: translate(-20%, 10%) scale(0.9) rotateZ(-60deg);
    }
    100%{
        transform: translate(30%, 0%) scale(1.2) rotateZ(-360deg);
    }
}
.buble-6{
    top: 300px;
    left: -300px;
    animation-name: buble6;
}
@keyframes buble6{
    0%{
        transform: translate(0%, 0%) scale(1) rotateZ(0deg);
    }
    30%{
        transform: translate(-10%, 30%) scale(0.8) rotateZ(60deg);
    }
    60%{
        transform: translate(-10%, 40%) scale(1.2) rotateZ(20deg);
    }
    100%{
        transform: translate(20%, 5%) scale(1.1) rotateZ(-60deg);
    }
}
.buble-7{
    bottom: 0px;
    right: 167px;
    animation-name: buble7;
}
@keyframes buble7{
    0%{
        transform: translate(0%, 0%) scale(1) rotateZ(0deg);
    }
    30%{
        transform: translate(10%, 12%) scale(1.1) rotateZ(120deg);
    }
    60%{
        transform: translate(-40%, -40%) scale(0.8) rotateZ(-60deg);
    }
    100%{
        transform: translate(0%, -5%) scale(1) rotateZ(80deg);
    }
}
/*main*/